
@media (max-width: 1199px) {
    /* Header Styles =================================== */
    .logo-all {
  	text-align: center;
  	width: 80%;
  	margin: auto;
  }
  .logo-all a {
  	display: block;
  	text-align: center;
  }
    .navbar .navbar-header {
        float: none;
        padding: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
    }
    .navbar .navbar-header .navbar-toggle {
        margin: 20px 15px;
        display: block;
        border: 0;
		padding: 31px 9px;
    }
    .navbar .navbar-header .navbar-toggle:hover .icon-bar:nth-child(1) {
        -webkit-transform: translateY(-2px);
        transform: translateY(-2px);
    }
   .navbar .navbar-header .navbar-toggle:hover .icon-bar:nth-child(3) {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
	.navbar .navbar-header .navbar-toggle:hover,
    .navbar .navbar-header .navbar-toggle:focus {
        background: transparent;
    }
    .navbar .navbar-header .navbar-toggle:hover:before,
    .navbar .navbar-header .navbar-toggle:focus:before {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar {
        -webkit-transition: -webkit-transform 150ms linear;
        transition: -webkit-transform 150ms linear;
        transition: transform 150ms linear;
        transition: transform 150ms linear, -webkit-transform 150ms linear;
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(1) {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(1) .inner {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(2) {
        opacity: 0;
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(3) {
        -webkit-transform: translateY(-6px);
        transform: translateY(-6px);
    }
    .navbar .navbar-header .navbar-toggle.in .icon-bar:nth-child(3) .inner {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .navbar .navbar-header .navbar-toggle .icon-bar {
        width: 25px;
        margin-bottom: 4px;
        background: transparent;
        -webkit-transition: -webkit-transform 150ms linear 150ms;
        transition: -webkit-transform 150ms linear 150ms;
        transition: transform 150ms linear 150ms;
        transition: transform 150ms linear 150ms, -webkit-transform 150ms linear 150ms;
    }
    .navbar .navbar-header .navbar-toggle .icon-bar .inner {
        display: block;
        -webkit-transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        transition: background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms;
        transition: transform 150ms linear, background-color 150ms linear, opacity 0s linear 150ms, -webkit-transform 150ms linear;
        width: 100%;
        height: 2px;
        background-color: #68BC4D;
    }

    .navbar .navbar-collapse {
        margin: 0 -15px 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-top: 1px solid #e7e7e7 !important;
    }
    .navbar .navbar-collapse.collapse {
        display: none !important;
    }
	.navbar .navbar-collapse.collapse.collapsing {
        overflow: hidden !important;
    }
    .navbar .navbar-collapse.collapse.in {
		display: block !important;
	}

    .navbar .navbar-collapse .nav {
        float: none !important;
        margin: 15px 0;
    }
    .navbar .navbar-collapse .nav li {
        float: none;
        display: block;
    }
    .navbar .navbar-collapse .nav li a {
		width: 100%;
		padding: 4px 15px;
		text-align: center;
		font-size: 16px;
	}
    .navbar .navbar-collapse .nav li a:after {
        content: inherit;
        display: none;
    }
}
@media all and (max-width: 767px){
  .linkurl a {
	display: inline-block;
	text-align: center;
	padding: 4px 0;
	color: #0f0f0f;
	text-decoration: none;
	font-size: 15px;
}
.linkurl {
	padding-top: 20px;
	width: 100%;
	margin: auto;
	text-align: center;
}
.ham-img img {
	width: 70% !important;
	margin-bottom: 31px;
}
}
@media all and (max-width: 885px){
  .nav > li > a {
  	padding: 10px 7px;
  	font-size: 12px;
  }
  .ham-cont p {
  width: 100%;
}
.ham-img {
	text-align: center;
}
.ham-img img{
  width: 80%;
}
.ham-goalcont a {
  color: #ffffff;
  display: block;
  margin: 23px 0;
}
}

@media all and (max-width: 613px){
  .nav > li > a {
  	padding: 10px 3px;
  	font-size: 10px;
  }

}


@media all and (max-width: 478px){
  .nav > li > a {
  	display: block;
    border-left: none;
    border-bottom: 1px solid #408db0;
    font-size: 15px;
    text-align: center;
  }
  .navbar-nav {
  	padding: 0;
  }
  .navbar .navbar-header .navbar-toggle {
	margin: 0;
}
.logo-all a img {
	width: 92%;
}
.logo-all a:nth-child(2) img {
	width: 124px;
}
.linkurl {
	padding-top: 20px;
	width: 53%;
	margin: auto;
	text-align: center;
}
.linkurl a {
	display: block;
	text-align: left;
	padding: 4px 0;
	color: #0f0f0f;
	text-decoration: none;
	font-size: 15px;
}
}

@media all and (max-width: 364px){

	.navbar .navbar-header .navbar-toggle {
		margin: 0;
		display: inherit;
	}
}
